
.nome-foto-geral {
    align-items: center;
    text-align: center;
    display: flex;
    height: 350px;
    max-width: 900px;
    justify-content: center;
    background-color: rgb(0, 33, 65);
    margin: 55px auto 60px auto;
    border-radius: 70px;
    box-shadow: 0px 2px 14px black;
}

.img-home {
    width: 250px;
    height: 300px;
    border-radius: 30%;
    border-color:rgb(39, 77, 160);
    border-style:double;
    margin-left: 30px;
}

.texto-foto {
    margin-right: 55px;
}

.texto-foto p {
    margin-top: 8px;
    font-size: 20px;
    color: white;
}

.texto-foto h1 {
    margin-bottom: 10px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

