.projetos-geral {
    align-items: center;
    display: flex;
    height: 70px;
    max-width: 500px;
    justify-content: center;
    background-color: rgb(0, 33, 65);
    margin: 40px auto 40px auto;
    border-radius: 70px;
}

.projetos-geral h1 {
    color: white;
}